@import 'theme/dark.css';
@import 'theme/light.css';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgb(36, 36, 36);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    box-sizing: border-box;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgba(var(--background-primary), 0.7);
    color: rgb(var(--accent));
    transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}