@import url(./theme/themes.css);

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-display: swap
}

*{
    box-sizing: border-box;
    margin: 0;
}

main{
    margin-top: 90px;
    width: 50vw;
}


body {
    margin: auto;
    display: flex;
    position: relative;
    justify-content: center;
    max-width: 1200px;
    min-width: 320px;
    min-height: 100vh;
    background-color: rgb(var(--bg-primary));
    color: rgb(var(--text-primary));
    transition: background-color 0.3s, color 0.3s;
}

a {
    text-decoration: none;
    color: rgb(var(--text-primary));
}

p{
    color: rgb(var(--text-primary));
}