/* ===== Скелетон (загрузочные заглушки) ===== */
.profile {
    width: 50vw;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 31vw;
}

.section{
    border-radius: 10px;
    background-color: rgb(69, 67, 67);
    border: solid 1px rgb(139, 139, 139);
    padding: 20px;
}

.tabButtons {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    border-bottom: 1px solid #3a3a3a;
    padding-bottom: 10px;
}

.tabContent {
    flex: 1;
    padding-right: 5px;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
}

.userPosts{
  border-radius: 10px;
  border: solid 1px rgb(139, 139, 139);
  background-color: rgb(69, 67, 67);
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.skeletonUser {
    display: flex;
    align-items: flex-end;
    background-color: rgb(146, 146, 146);
    height: 180px;
    gap: 20px;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid rgb(58, 58, 58);
}

.skeletonAvatar {
    position: relative;
    top: -40px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:  #3a3a3a;
    animation: pulse 1.5s infinite;
}

.skeletonUserInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.skeletonName {
    width: 60%;
    height: 20px;
    background-color: #3a3a3a;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
}

.skeletonEmail {
    width: 40%;
    height: 16px;
    background-color: #3a3a3a;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
}

.skeletonTabButton {
    width: 100px;
    height: 40px;
    background-color: #3a3a3a;
    border-radius: 8px;
    animation: pulse 1.5s infinite;
}

.skeletonTabContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 10px;
}

.skeletonItem {
    height: 50px;
    background-color:  #3a3a3a;
    border-radius: 8px;
    animation: pulse 1.5s infinite;
}

.skeletonPost {
    height: 80px;
    background-color: #3a3a3a;
    border-radius: 8px;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}