:root {
    /* Тёмная тема */
    --background-primary-dark: 36, 36, 36;
    --accent-dark: 90, 182, 204;
    --common-dark: 69, 67, 67;
    
    /* Primary button - тёмная тема */
    --button-primary-bg-dark: 96, 165, 250;
    --button-primary-text-dark: 15, 23, 42;
    --button-primary-hover-dark: 59, 130, 246;
    
    /* Secondary button - тёмная тема */
    --button-secondary-bg-dark: 51, 65, 85;
    --button-secondary-text-dark: 241, 245, 249;
    --button-secondary-hover-dark: 71, 85, 105;
    
    /* Outline button - тёмная тема */
    --button-outline-text-dark: 96, 165, 250;
    --button-outline-border-dark: 96, 165, 250;
    --button-outline-hover-bg-dark: 96, 165, 250, 0.2;

    /* Header - темная тема */
    --header-bg-light: 53, 53, 53;
    --header-text-light: 255, 255, 255;
}

[data-theme='dark'] {
    /* Body */
    --background-primary: var(--background-primary-dark);
    --accent: var(--accent-dark);
    --common-d: var(--common-dark);
    /* Header */
    --header-bg: rgb(var(--common-dark));
    --header-text: rgb(var(--header-text-light));
    /* Button */
    --button-primary-bg: rgb(var(--button-primary-bg-dark));
    --button-primary-text: rgb(var(--button-primary-text-dark));
    --button-primary-hover: rgb(var(--button-primary-hover-dark));
    
    --button-secondary-bg: rgb(var(--button-secondary-bg-dark));
    --button-secondary-text: rgb(var(--button-secondary-text-dark));
    --button-secondary-hover: rgb(var(--button-secondary-hover-dark));
    
    --button-outline-text: rgb(var(--button-outline-text-dark));
    --button-outline-border: rgb(var(--button-outline-border-dark));
    --button-outline-hover-bg: rgba(var(--button-outline-hover-bg-dark));
}
