.panel {
    width: 280px;
    position: sticky;
    top: 90px;
    border-radius: 12px;
    padding: 16px;
    background: rgb(var(--header-bg));
    border: solid 1px rgba(var(--button-primary-bg), 0.3);
    box-shadow: 0 0 4px 2px rgb(var(--boxsh--primary));
    height: fit-content;
}