.container {
    display: grid;
    grid-template-columns: 65% auto;
    position: relative;
    gap: 24px;
    margin: 0 auto;
    min-height: 100vh;
}

.error {
    color: red;
    margin-top: 16px;
    text-align: center;
}